.deliveryCardMobileContainer {
    display: flex;
    flex-direction: column;

    width: 95vw;

    padding: 1rem;

    background: #fff;

    border-radius: 5px;

    color: var(--gray-500);
    font-size: 0.75rem;

    margin-bottom: 0.625rem;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    gap: 0.875rem;

    section {

       .titleDelivery {
           margin-bottom: 0.2rem;
       }

        h3 {
            color: var(--orange-700);
            font-size: 0.875rem;

            strong {
                margin-left: 0.3rem;
                font-weight: 500;
                font-size: 0.75rem;
            }
       }

       &:first-child{
           margin-bottom: 0.2rem;
       }
    }
    
    .idDelivery {
        font-size: 0.875rem;
        
        strong {
            font-size: 0.875rem;
        }
    }
    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .dateTimeId {
            display: flex;
            flex-direction: column;

            .dateTime {
                font-size: 0.75rem;

                margin-bottom: 0.625rem;
            }

        }

        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }

        .showDeliveryCard {
            color: var(--gray-300);

            transform: rotate(180deg);
            
            transition: transform ease-out 0.15s;
        }
        
        .hideDeliveryCard {
            color: var(--gray-300);

            transition: transform ease-out 0.15s;
        }
    }

    .profileLink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            flex-direction: row;

            .deliveryman{
                margin-left: 0.3rem;

                .currentRate {
                    color: var(--orange-700);
                    font-size: 0.875rem;
                    
                    span {
                        margin-left: 0.25rem;

                        font-size: 0.875rem;
                    }
                }
            }
        }

        .arrow {
            color: var(--orange-700);
        }

        button {
            background: none;
            color: var(--orange-700);
            padding: 0.5rem;
            
            span {
                margin-left: 0.5rem;
                font-weight: 500;
                font-size: 0.75rem;
            }
        }
    }

    .rateDeliveryman {
        display: flex;
        flex-direction: column;

        span {
            font-size: 0.75rem;
        }

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            li {
                margin-top: 0.5rem;
                font-size: 1.875rem;
                color: var(--orange-700);
            }
        }

        button {
            margin-top: 1rem;

            height: 3rem;

            border-radius: 5px;

            background: var(--orange-100);

            color: var(--orange-700);
            font-weight: 500;
        }
    }

    .statusContainer {
        display: flex;
        flex-direction: row;
        align-items: initial;
        
        gap: 0.25rem;

        .label {
            display: flex;
            align-items: center;

            padding: 0.75rem 0.5rem;
            
            height: 1rem;
            
            border-radius: 2rem;
            
            font-size: 0.625rem;

            gap: 0.3rem;
            
            span {
                white-space: nowrap;
                font-size: 0.625rem;
                font-weight: 500;
            } 
        }
        
        .loading {
            animation: charge 1.25s infinite;
        }

        .swinging {
            animation: swing 0.5s infinite;
        }

        @keyframes charge {
            from{
                transform: rotate(0deg);
            }to{
                transform: rotate(360deg);
            }
        }
        
        @keyframes swing {
            from{
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(-5deg);
            }
            to{
                transform: rotate(5deg);
            }
        }

        .labelSuccess {
            background: var(--green-100);

            color: var(--green-700);
        }

        .labelIssue {
            background: var(--yellow-100);

            color: var(--yellow-900);
        }

        .labelDanger {
            background: var(--red-100);

            color: var(--red-700);
        }

        .labelTime {
            background: var(--gray-100);

            color: var(--gray-600);
        }
    }

    .addressContainer {

        span {
            font-size: 0.75rem;
        }
    }

    .btnsContainer {
        display: flex;
        align-items: flex-end;
        flex-direction: row;

        gap: 0.5rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            white-space: nowrap;
            
            padding: 0.5rem;

            border-radius: 10px;

            gap: 0.5rem;
        }
        
        .cancel {                
            color: var(--red-300);
            background: none;
        }
        
        .tryAgain {
            font-weight: 600;

            color: var(--green-700);

            background-color: var(--green-100);
        }

        .issue {
            padding: 0 1rem;
            font-weight: 600;
            height: 3rem;

            color: var(--yellow-900);

            background-color: var(--yellow-100);
        }
        
        .shuffle {
            font-weight: 600;

            color: var(--orange-700);

            background-color: var(--orange-100);
        }
        
        .finalizeBtn {
            margin-left: 0.2rem;
            width: 150%;
            height: 3rem;

            border-radius: 10px;
            // border-right: 3px solid var(--green-500);
            // border-bottom: 3px solid var(--green-500);

            font-weight: 500;
            color: var(--green-600);
            background: var(--green-100);
        }

        .issueRequestBtn {
            margin-left: 0.2rem;
            width: 150%;
            height: 3rem;

            border-radius: 10rem;

            font-weight: 500;
            color: var(--red-700);
            background: var(--red-100);
        }
    }
}
.deliveryCardDesktopContainer {
    display: none;
}

@media (min-width: 1024px) {
    .deliveryCardMobileContainer {
        display: flex;
        flex-direction: column;
    
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .deliveryCardMobileContainer {
        display: none;
    }

    .deliveryCardDesktopContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: #fff;
        
        border-radius: 5px;
        
        margin-bottom: 0.5rem;
        
        padding: 1rem;

        &:hover {
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.05);
        }

        .statusContainer {
            display: flex;
            flex-direction: row;
            align-items: initial;
            
            gap: 0.5rem;
    
            .label {
                display: flex;
                align-items: center;
    
                padding: 0.75rem 0.5rem;
                
                height: 1rem;
                
                border-radius: 2rem;
                
                font-size: 0.75rem;
    
                span {
                    font-size: 0.75rem;
                    font-weight: 500;
                    margin-left: 0.5rem;
                } 
            }
    
            .labelSuccess {
                background: var(--green-100);
    
                color: var(--green-700);
    
            }

            .loading {
                animation: charge 1.25s infinite;
            }
    
            .swinging {
                animation: swing 0.5s infinite;
            }
    
            @keyframes charge {
                from{
                    transform: rotate(0deg);
                }to{
                    transform: rotate(360deg);
                }
            }
            
            @keyframes swing {
                from{
                    transform: rotate(0deg);
                }
                50% {
                    transform: rotate(-5deg);
                }
                to{
                    transform: rotate(5deg);
                }
            }
    
            .labelIssue {
                background: var(--yellow-100);
    
                color: var(--yellow-900);
            }
            
            .labelDanger {
                background: var(--red-100);
                
                color: var(--red-700);
            }
    
            .labelTime {
                background: var(--gray-100);
                
                color: var(--gray-600);
            }

            .deliverymanContainer {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                margin-right: 0.5rem;
                
                .deliveryman {
                    p {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        gap: 0.5rem;

                        font-size: 0.875rem;
                        font-weight: 500;
                        
                        color: var(--gray-500);
                    }
                    
                    .currentRate {
                        font-size: 0.75rem;
                        color: var(--gray-300);
                        display: flex;
                        align-items: baseline;
                        
                        span {
                            font-weight: 500;
                            margin-left: 0.25rem;
                            font-size: 0.75rem;
                        }
                    }

                    span {
                        font-size: 0.75rem;
                        font-weight: 400;
                        color: var(--gray-300);
                    }

                    .clientRate {
                        ul {
            
                            display: flex;
                            flex-direction: row;
                            
                            li {
                                color: var(--orange-700);
                                margin-right: 0.2rem;
                                font-size: 0.625rem;
                            }
                        }
                    }
                }
                
            }

            .rateDeliveryman {
                max-width: 250px;
                margin-top: 0.5rem;
                display: flex;
                flex-direction: row;
    
                span {
                    font-size: 0.75rem;
                }
        
                ul{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
        
                    li {
                        margin-top: 0.5rem;
                        font-size: 1.5rem;
                        color: var(--orange-700);
                    }
                }
        
                button {
                    width: 100%;
                    margin-top: 1rem;
        
                    height: 3rem;
        
                    border-radius: 5px;
        
                    background: var(--orange-100);
        
                    color: var(--orange-700);
                    font-weight: 500;
                }
            }
        }

        .dataContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-top: 1rem;

            gap: 1rem;

            .dataItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                // width: 100%;
                min-width: 102px;

                // margin-left: 1rem;

                gap: 0.5rem;

                white-space: nowrap;

                color: var(--orange-700);
                
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    font-size: 0.875rem;
                    font-weight: 500;
                    
                    color: var(--gray-500);
                }
                
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.75rem;
                    color: var(--gray-500);
                }
            }

            
            .id {
                display: flex;
                flex-direction: row;
                
                gap: 0.5rem;
                
                white-space: nowrap;
                
                max-width: 102px;
                
                color: var(--orange-700);
                
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    font-size: 0.875rem;
                    font-weight: 500;

                    color: var(--gray-500);
                }
            }

            .description {
                display: flex;
                flex-direction: row;
                
                gap: 0.5rem;
                
                white-space: nowrap;
                
                max-width: 202px;
                
                color: var(--orange-700);
                
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    font-size: 0.875rem;
                    font-weight: 500;

                    color: var(--gray-500);
                }
            }

            
            
            .address {
                overflow: hidden;
                text-overflow: ellipsis;
                // margin-left: 0.5rem;
                display: flex;
                flex-direction: column;
            }
        }

        .btnsContainer {
            display: flex;
            align-items: flex-end;
            flex-direction: row;

            gap: 1rem;

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                white-space: nowrap;
                
                padding: 0.5rem;

                border-radius: 10px;

                gap: 0.5rem;
            }
            
            .cancel {                
                color: var(--red-300);
                background: none;
            }
            
            .tryAgain {
                font-weight: 600;

                color: var(--green-700);

                background-color: var(--green-100);
            }

            .issue {
                height: 2.1rem;
                font-weight: 600;

                padding: 0 1rem;

                color: var(--yellow-900);

                background-color: var(--yellow-100);
            }
            
            .shuffle {
                font-weight: 600;

                color: var(--orange-700);

                background-color: var(--orange-100);
            }

            .finalizeBtn {
                margin-left: 0.2rem;
                width: 150%;
                height: 2.1rem;

                padding: 0 1rem;

                border-radius: 10px;

                font-weight: 500;
                color: var(--green-600);
                background: var(--green-100);
            }
        }
    }
}