.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    height: 100vh;
    width: 100%;

    top: 0;
    left: 0;

    background-color: rgba($color: #000000, $alpha: 0.40);

    z-index: 1000;

    .cancelContainer {
        width: 80vw;
        max-width: 300px;

        background-color: #fff;

        border-radius: 10px;

        display: flex;
        flex-direction: column;

        .title {
            padding: 2rem;
        }

        .actionBtns {
            display: flex;
            flex-direction: column;

            background: var(--gray-100);

            border-radius: 0 0 10px 10px;

            width: 100%;

            padding: 1.5rem;

            button {
                padding: 1rem;

                background: none;

                border-radius: 5px;

                color: var(--orange-700);
            }

            :first-child {
                margin-bottom: 0.5rem;
            }

            :last-child {
                background: var(--orange-100);
            }
        }
    }
}