.financePage {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1024px;
    
    // background-color: gray;
    
    .currentInvoice {
        display: flex;
        flex-direction: column;
        width: 95vw;
        max-width: 1024px;
        align-items: flex-start;

        span {
            font-size: 0.875rem;

            strong {
                font-size: 0.875rem;
                font-weight: 600;
            }
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        button {
            width: 100%;
            max-width: 425px;

            height: 3rem;
            
            margin-top: 1rem;
            
            color: #FFF;
            font-weight: 400;

            border-radius: 5px;

            background: var(--orange-700);
        }
    }

    .bgTimeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--gray-100);
        
        margin-top: 1rem;
        
        width: 100vw;

        .timeline {
            max-width: 1024px;

            width: 100%;            
            
            padding: 1rem 0.875rem;

            .timelineItem {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                margin: 2rem 0;
    
                
                .titleDescription {
                    margin-left: 1rem;
                    
                    strong {
                        font-size: 0.875rem;
                        font-weight: 700;
                    }
                    
                    p {
                        margin-top: 0.2rem;
                        width: 100%;
                        font-size: 0.875rem;
                    }
                }
                
                span {
                    display: flex;
                    justify-content: flex-end;
    
                    width: 35%;
                    
                    margin-left: auto;
    
                    font-size: 0.75rem;
    
                    color: var(--gray-300);
                }
    
                .dateAndButton {
                    width: 35%;
    
                    margin-left: auto;
    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    
                    span {
                        align-items: flex-end;
    
                        margin-bottom: 1rem;
    
                        width: 100%;
    
                        display: flex;
                        flex-direction: column;
        
                        font-size: 0.75rem;
        
                        color: var(--gray-300);
                    }
    
                    :last-child {
                        color: var(--gray-500);
                    }
                }
    
                .overdueInvoice {
                    min-width: 1rem;
                    min-height: 1rem;
    
                    border-radius: 5px;
    
                    background: var(--red-300);
                }
    
                .closeInvoice {
                    min-width: 1rem;
                    min-height: 1rem;
    
                    border-radius: 5px;
    
                    background: var(--orange-700);
                }
    
                .paymentReceived {
                    min-width: 1rem;
                    min-height: 1rem;
    
                    border-radius: 5px;
    
                    background: var(--green-600);
                }
    
                .pendingPayment {
                    min-width: 1rem;
                    min-height: 1rem;
    
                    border-radius: 5px;
    
                    background: var(--yellow-700);
                }
            }
            :first-child {
                margin-top: 0;
            }
            :last-child {
                margin-bottom: 0;
            }
        }
        
    }
}

@media (min-width: 1024px) {
    .financePage {

        .currentInvoice {
            // max-width: ;
        }
    }
}