.deliveriesPage {
    width: 100vw;
    
    overflow-y: hidden;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem;

    aside {
        display: none;
    }

    h2 {
        color: var(--gray-300);
        margin: 1rem 0 0.5rem 0.5rem;
    }

    .groupBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        max-width: 425px;
        
        border-radius: 5px;
        
        margin: 0.6rem 0 0.6rem 0;
        
        background: #fff;
        
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

        button {
            font-size: 0.81rem;
            color: var(--gray-300);

            width: 100%;

            padding: 1.2rem 0;

            background: #fff;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:focus {
                background: var(--orange-100);
                font-weight: 500;
                color: var(--orange-700);
            }

            .badgeNewDelivery {
                margin-right: 0.5rem;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                height: 0.5rem;
                width: 0.5rem;
    
                padding: 0.2rem;
    
                font-size: 0.5rem;
                font-weight: 500;
                color: #fff;
    
                border-radius: 2rem;
    
                background: var(--orange-700);
    
                z-index: 10;
            }
        }
    }

    .theresNoDelivery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: calc(60vh);
        width: 95vw;

        color: var(--gray-300);
        
        font-size: 4rem;

        p {
            margin-top: 2rem;
            font-weight: 400;
            font-size: 1.12rem;
            width: 70%;
            text-align: center;
        }

        button {
            width: 100%;
            height: 3rem;

            background-color: var(--orange-100);
            color: var(--orange-700);

            font-weight: 600;

            border-radius: 10px;

            margin-top: 1rem;

        }
    }

    .paymentCards {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        .paymentCard{
            cursor: pointer;
    
            width: 100%;
            max-width: 425px;
    
            background-color: var(--yellow-100);
            border-radius: 5px;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            padding: 1rem;
    
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    
            div {
                :last-child{
                    text-align: end;
                }
    
                span {
                    font-size: 0.875rem;
                    color: var(--gray-300);
    
                }
    
                p {
                    font-weight: 500;
                    color: var(--gray-500);
                }
            }
    
        }
    }

}

@media (min-width: 1024px) {
    .deliveriesPage {
        width: calc(100vw - 4rem);
        display: flex;
        flex-direction: row;
        align-items: unset;

        aside {
            margin-top: 0.5rem;
            margin-left: 4rem;

            width: 50%;
            max-width: 400px;
            height: 785px;
            
            display: block;

            background-color: #fff;

            padding: 1rem;

            border-radius: 5px;

            .headerContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
        
                h1 {
                    margin-left: 1rem;
                    font-size: 1.2rem;
                    color: var(--black);
                }
        
                button {
                    font-size: 1.3rem;
                    height: 2.3rem;
                    width: 2.3rem;
                    color: var(--orange-700);
                    background: var(--orange-100);
                    border-radius: 10rem;
                }
            }
        
            hr {
                border: 0;
                border-top: 1px solid var(--gray-100);
        
                margin: 0.125rem 0;
            }
        
            .collectAddress {
                display: flex;
                justify-content: space-between;
        
                padding: 0.5rem 0;
        
                div {
                    display: flex;
                    flex-direction: column;
        
                    span {
                        margin: 0.5rem 0 0.2rem 0;
                        font-size: 0.75rem;
                        color: var(--gray-500);
                    }
        
                    p {
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: var(--gray-500);
                    }
                }
        
                .icon {
        
                    margin-right: 0.25rem;
                }
        
                button {     
                    gap: 0.25rem;       
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: var(--orange-700);
                    background-color: transparent;
                }
            }
        
            .formContainer {
                display: flex;
                flex-direction: column;
        
                div {
                    display: flex;
                    flex-direction: row;
        
                    div {
                        display: flex;
                        flex-direction: column;
        
                        width: calc(50% - 0.25rem );
                    }
                    
                    .comp {
                        margin-left: 0.5rem;
                        width: calc(50% - 0.25rem);
                    }
                }
        
                .addressNotFound {
                    color: var(--red-300);
                    margin-top: 0.25rem;
                }
        
                label {
                    margin: 0.5rem 0 0.2rem 0;
                    font-size: 0.75rem;
                    color: var(--gray-500);
        
                    .icon {
        
                        margin-right: 0.25rem;
                    }
                }
        
                input {
                    height: 3rem;
                    padding-left: 1rem;
        
                    border: 1px solid var(--gray-100);
                    border-radius: 12px;
        
                    background-color: var(--gray-100);
        
                    margin: 0.25rem 0 0.5rem 0;
                }
            }
        
            .preparationTimeContainer {
                display: flex;
                flex-direction: column;
        
                padding: 0 0 1rem 0;
        
                label {
                    margin: 0.5rem 0 0.5rem 0;
                    font-size: 0.75rem;
                    color: var(--gray-500);
        
                    .icon {
        
                        margin-right: 0.25rem;
                    }
                }
        
                .radioBtnContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.5rem;
        
                    .radioBtnCard {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
        
                        width: 50%;
                        height: 4.5rem;
                        
                        background: #fff;
                        
                        border-radius: 12px;
                        
                        font-size: 1.5rem;
                        
                        color: var(--gray-500);
                        
                        padding: 0.625rem;
        
                        cursor: pointer;
                        
                        p {
                            font-size: 0.875rem;
                            margin-top: 0.5rem;
                        }
                    }
                    
                    .radioBtnCardOnPressed {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
        
                        width: 50%;
                        height: 4.5rem;
                        
                        background: #fff;
                        
                        border: 1px solid var(--orange-700);
                        border-radius: 12px;
                        
                        font-size: 1.5rem;
                        
                        color: var(--orange-700);
        
                        cursor: pointer;
                        
                        p {
                            font-size: 0.875rem;
                            margin-top: 0.5rem;
                        }
                    }
        
                    .setTimeContainerOnPressed {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
        
                        width: 100%;
                        height: 4.5rem;
        
                        padding: 0 0.625rem;
        
                        border: 1px solid var(--orange-700);
                        border-radius: 12px;
        
                        button {
                            background-color: var(--orange-700);
                            border-radius: 12px;
                            color: #fff;
                            font-size: 1.875rem;
                            font-weight: 500;

                            width: 3rem;
                            height: 3rem;
                        }
        
                        span {
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: var(--orange-700);
        
                        }
                    }
        
                    .setTimeContainer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
        
                        width: 100%;
                        height: 4.5rem;
        
                        padding: 0 0.625rem;
        
                        button {
                            background-color: var(--gray-200);
                            border-radius: 12px;
                            color: var(--gray-300);
                            font-size: 1.875rem;
                            font-weight: 500;

                            width: 3rem;
                            height: 3rem;
                        }
        
                        span {
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: var(--gray-200);
        
                        }
                    }
                }
            }
        
            .deliveryman {
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                color: var(--gray-500);
        
                padding: 0.5rem 0;
        
                .picture {
                    font-size: 2rem;
                }
                
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
        
                    gap: 0.5rem;
        
                    p {
                        font-size: 00.875rem;
                        font-weight: 500;
                    }
                    .nameAndRate {
        
        
                        .rate {
                            display: flex;
                            align-items: center;
                            justify-content: center;
        
                            margin-left: 1rem;
                            
                            gap: 0.25rem;
                            
                            font-size: 0.875rem;
                            font-weight: 500;
                        }
                    }
                }
                
                button {     
                    gap: 0.25rem;       
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: var(--orange-700);
                    background-color: transparent;
                }
            }
        
            .confirm {
                width: 100%;
                padding: 0.5rem 0;
        
                color: var(--gray-500);
        
                strong {
                    font-weight: 600;
                }
        
                .distanceAndPrice {
                    display: flex;
                    flex-direction: column;
        
                    span {
                        font-size: 0.75rem;
                    }
        
                    p {
                        font-size: 1rem;
                        font-weight: 500;
                        color: var(--gray-500);
                    }
        
                    strong {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
        
                        font-weight: 600;
                        color: var(--gray-500);
                        font-size: 1.125rem;
        
                        h3 {
                            margin-left: 0.25rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                    }
        
                    .item {
                        margin-top: 0.25rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
        
                    .distance {
                        justify-content: space-between;
        
                        span {
                            font-size: 0.75rem;
                        }
        
                        p {
                            font-size: 1rem;
                            font-weight: 500;
                            color: var(--gray-500);
                        }
        
                        strong {
                            display: flex;
                            flex-direction: row;
                            align-items: baseline;
            
                            font-weight: 600;
                            color: var(--gray-500);
                            font-size: 1.125rem;
            
                            h3 {
                                margin-left: 0.25rem;
                                font-size: 1.5rem;
                                font-weight: 600;
                            }
                        }
                        
                    }
                    
                    .price {
                        text-align: right;
                        
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
        
        
                        span {
                            margin-top: 0.5rem;
                            font-size: 0.75rem;
                        }
        
                        p {
                            font-size: 1rem;
                            font-weight: 500;
                            color: var(--gray-500);
                        }
        
                        
                    }
        
                }
        
            }
        
            .btnsContainer {
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                
                button {
                    width: 100%;
                    height: 3.5rem;
        
                    border-radius: 12px;
                    font-weight: 500;
                    margin-bottom: 0.5rem;
        
                    font-size: 0.875rem;
                    font-weight: 500;
                }
        
                .disabled {
                    background: var(--gray-100);
                    color: var(--gray-300);
                }
        
                .cancel {
                    background: none;
        
                    color: var(--red-300);
                }
        
                .recharge {
                    background-color: var(--red-300);
                    color: #fff;
                }
        
                .continue {
                    width: 200%;
                    background: var(--orange-700);
        
                    color: #fff;
                }
            }
        }
        
        @media(min-width: 1024px) {
            .newDeliveryContainer {
        
                .headerContainer {
                    h1 {
                        margin: 0;
                    }
        
                    button {
                        display: none;
                    }
                }
            }
        }
        

        main {
            margin-left: 1rem;
            height: calc(100vh - 4rem);
            // overflow-y: scroll;

            // margin-right: 5rem;
            .deliveriesContainer {
                width: 100%;

                .theresNoDelivery {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    p {
                        max-width: 425px;
                    }
                }
            }
        }
    }
}