.deliveriesPage {
    width: 100vw;
    
    overflow-y: hidden;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem;

    aside {
        display: none;
    }

    h2 {
        color: var(--gray-300);
        margin: 1rem 0 0.5rem 0.5rem;
    }

    .groupBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        max-width: 425px;
        
        border-radius: 5px;
        
        margin: 0.6rem 0 0.6rem 0;
        
        background: #fff;
        
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

        button {
            font-size: 0.81rem;
            color: var(--gray-300);

            width: 100%;

            padding: 1.2rem 0;

            background: #fff;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:focus {
                background: var(--orange-100);
                font-weight: 500;
                color: var(--orange-700);
            }

            .badgeNewDelivery {
                margin-right: 0.5rem;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                height: 0.5rem;
                width: 0.5rem;
    
                padding: 0.2rem;
    
                font-size: 0.5rem;
                font-weight: 500;
                color: #fff;
    
                border-radius: 2rem;
    
                background: var(--orange-700);
    
                z-index: 10;
            }
        }
    }

    .theresNoDelivery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: calc(60vh);
        width: 95vw;

        color: var(--gray-300);
        
        font-size: 4rem;

        p {
            margin-top: 2rem;
            font-weight: 400;
            font-size: 1.12rem;
            width: 70%;
            text-align: center;
        }

        button {
            width: 100%;
            height: 3rem;

            background-color: var(--orange-100);
            color: var(--orange-700);

            font-weight: 600;

            border-radius: 10px;

            margin-top: 1rem;

        }
    }

    .paymentCard{
        cursor: pointer;

        width: 100%;
        max-width: 425px;

        background-color: #fff;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;

        margin-bottom: 0.5rem;

        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);

        div {
            :last-child{
                text-align: end;
            }


            span {
                font-size: 0.875rem;
                color: var(--gray-300);

            }

            p {
                font-weight: 500;
                color: var(--gray-500);
            }
        }

    }
}

@media (min-width: 1024px) {
    .deliveriesPage {
        width: calc(100vw - 4rem);
        display: flex;
        flex-direction: row;
        align-items: unset;

        aside {
            margin-top: 0.5rem;
            margin-left: 4rem;

            width: 50%;
            max-width: 400px;
            height: 770px;
            
            display: block;

            background-color: #fff;

            padding: 1rem;

            border-radius: 5px;
        }

        main {
            margin-left: 1rem;
            height: calc(100vh - 4rem);
            // overflow-y: scroll;

            // margin-right: 5rem;
            .deliveriesContainer {
                width: 100%;

                .theresNoDelivery {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    p {
                        max-width: 425px;
                    }
                }
            }
        }
    }
}