.newDeliveryContainer {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: calc(100vh);

    overflow-y: scroll;

    padding: 1rem;

    z-index: 5000;

    background: #fff;

    .headerContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            margin-left: 1rem;
            font-size: 1.2rem;
            color: var(--black);
        }

        button {
            font-size: 1.3rem;
            height: 2.3rem;
            width: 2.3rem;
            color: var(--orange-700);
            background: var(--orange-100);
            border-radius: 10rem;
        }
    }

    hr {
        border: 0;
        border-top: 1px solid var(--gray-100);

        margin: 0.5rem 0;
    }

    .collectAddress {
        display: flex;
        justify-content: space-between;

        padding: 0.5rem 0;

        div {
            display: flex;
            flex-direction: column;

            span {
                margin: 0.5rem 0 0.2rem 0;
                font-size: 0.75rem;
                color: var(--gray-500);
            }

            p {
                font-size: 0.875rem;
                font-weight: 500;
                color: var(--gray-500);
            }
        }

        button {     
            gap: 0.25rem;       
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--orange-700);
            background-color: transparent;
        }
    }

    .formContainer {
        display: flex;
        flex-direction: column;

        margin-top: 0.5rem;

        div {
            display: flex;
            flex-direction: row;

            div {
                display: flex;
                flex-direction: column;

                width: calc(50% - 0.25rem );
            }
            
            .comp {
                margin-left: 0.5rem;
                width: calc(50% - 0.25rem);
            }
        }

        .addressNotFound {
            color: var(--red-300);
            margin-top: 0.25rem;
        }

        label {
            margin: 0.5rem 0 0.2rem 0;
            font-size: 0.75rem;
            color: var(--gray-500);

            .icon {

                margin-right: 0.25rem;
            }
        }

        input {
            height: 3.5rem;
            padding-left: 1rem;

            border: 1px solid var(--gray-100);
            border-radius: 12px;

            background-color: var(--gray-100);
        }
    }

    .paymentContainer {
        display: flex;
        flex-direction: column;

        padding: 0 0 1rem 0;

        .radioBtnContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin-top: 1rem;

            .radioBtnCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: calc(85vw / 4);
                min-height: 4.5rem;
                
                background: #fff;
                
                border-radius: 5px;
                
                font-size: 1.5rem;
                
                color: var(--gray-500);
                
                padding: 0.625rem;

                cursor: pointer;
                
                p {
                    font-size: 0.625rem;
                    margin-top: 0.5rem;
                }
            }
            
            .radioBtnCardOnPressed {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: calc(85vw / 4);
                min-height: 4.5rem;
                
                background: #fff;
                
                border: 1px solid var(--orange-700);
                border-radius: 5px;
                
                font-size: 1.5rem;
                
                color: var(--orange-700);
                
                padding: 0.625rem;

                cursor: pointer;
                
                p {
                    font-size: 0.625rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    .deliveryman {
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: var(--gray-500);

        padding: 0.5rem 0;

        .picture {
            font-size: 2rem;
        }
        
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            gap: 0.5rem;

            p {
                font-size: 00.875rem;
                font-weight: 500;
            }
            .nameAndRate {


                .rate {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin-left: 1rem;
                    
                    gap: 0.25rem;
                    
                    font-size: 0.875rem;
                    font-weight: 500;
                }
            }
        }
        
        button {     
            gap: 0.25rem;       
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--orange-700);
            background-color: transparent;
        }
    }

    .confirm {
        width: 100%;
        padding: 0.5rem 0;

        color: var(--gray-500);

        strong {
            font-weight: 600;
        }

        .distanceAndPrice {
            display: flex;
            flex-direction: column;

            span {
                font-size: 0.75rem;
            }

            p {
                font-size: 1rem;
                font-weight: 500;
                color: var(--gray-500);
            }

            strong {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                font-weight: 600;
                color: var(--gray-500);
                font-size: 1.125rem;

                h3 {
                    margin-left: 0.25rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            .item {
                margin-top: 0.25rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .distance {
                justify-content: space-between;

                span {
                    font-size: 0.75rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--gray-500);
                }

                strong {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
    
                    font-weight: 600;
                    color: var(--gray-500);
                    font-size: 1.125rem;
    
                    h3 {
                        margin-left: 0.25rem;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
                
            }
            
            .price {
                text-align: right;
                
                display: flex;
                flex-direction: column;
                align-items: flex-end;


                span {
                    margin-top: 0.5rem;
                    font-size: 0.75rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--gray-500);
                }
            }
        }
    }

    .btnsContainer {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        
        button {
            width: 100%;
            height: 3.5rem;

            border-radius: 12px;
            font-weight: 500;
            margin-bottom: 0.5rem;

            font-size: 0.875rem;
            font-weight: 500;
        }

        .disabled {
            background: var(--gray-100);
            color: var(--gray-300);
        }

        .cancel {
            background: none;

            color: var(--red-300);
        }

        .recharge {
            background-color: var(--red-300);
            color: #fff;
        }

        .continue {
            width: 200%;
            background: var(--orange-700);

            color: #fff;
        }
    }
}

@media(min-width: 1024px) {
    .newDeliveryContainer {

        .headerContainer {
            h1 {
                margin: 0;
            }

            button {
                display: none;
            }
        }
    }
}