.deliveryCardMobileContainer {
    display: flex;
    flex-direction: column;

    width: 95vw;

    padding: 1.2rem 1.2rem;

    background: #fff;

    border-radius: 5px;

    color: var(--gray-500);
    font-size: 0.75rem;

    margin-bottom: 0.625rem;

    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.05);

    section {
       margin-bottom: 0.875rem;

       .titleDelivery {
           margin-bottom: 0.2rem;
       }

        h3 {
            color: var(--orange-700);
            font-size: 0.875rem;

            strong {
                margin-left: 0.3rem;
                font-weight: 500;
                font-size: 0.75rem;
            }
       }

       &:first-child{
           margin-bottom: 0.2rem;
       }
    }


    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;

        .dateTimeId {
            display: flex;
            flex-direction: column;

            .dateTime {
                font-size: 0.75rem;

                margin-bottom: 0.625rem;
            }

            .idDelivery {
                font-size: 0.875rem;
                
                strong {
                    font-size: 0.875rem;
                }
            }
        }

        button{
            background-color: var(--orange-100);
            
            height: 2.3rem;
            width: 2.3rem;
            
            border-radius: 10rem;
            
            margin-left: 0.5rem;

            .faIcon{
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--orange-700);
            }
        }

        .showDeliveryCard {
            color: var(--gray-300);

            transform: rotate(180deg);
            
            transition: transform ease-out 0.15s;
        }
        
        .hideDeliveryCard {
            color: var(--gray-300);

            transition: transform ease-out 0.15s;
        }
    }

    .profileLink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            flex-direction: row;

            .deliveryman{
                margin-left: 0.3rem;

                .currentRate {
                    color: var(--orange-700);
                    font-size: 0.875rem;
                    
                    span {
                        margin-left: 0.25rem;

                        font-size: 0.875rem;
                    }
                }
            }
        }

        .arrow {
            color: var(--orange-700);
        }
    }

    .labelCanceled {
        display: flex;
        align-items: center;

        margin-right: 1rem;

        padding: 0.75rem 0.5rem;

        height: 1rem;
        width: fit-content;

        border-radius: 2rem;

        background: var(--red-100);

        color: var(--red-700);

        font-size: 0.75rem;
        
        span {
            font-size: 0.75rem;
            margin-left: 0.5rem;
        }
    }

    .statusContainer {
        display: flex;
        flex-direction: row;
        white-space: nowrap;

        p {
            font-weight: 500;
            font-size: 0.75rem;
        }

        span {
            font-size: 0.75rem;
        }

        .loading {
            animation: charge 1.25s infinite;
        }

        @keyframes charge {
            from{
                transform: rotate(0deg);
            }to{
                transform: rotate(360deg);
            }
        }

        .labelStatusSuccess {
            display: flex;
            align-items: center;

            margin-right: 0.5rem;

            padding: 0.75rem 0.5rem;

            height: 1rem;

            border-radius: 2rem;

            background: var(--green-100);

            color: var(--green-700);

            font-size: 0.75rem;

            span {
                margin-left: 0.5rem;
            }
        }

        .labelStatusIssue {
            display: flex;
            align-items: center;

            margin-right: 0.5rem;

            padding: 0.75rem 0.5rem;

            height: 1rem;

            border-radius: 2rem;

            background: var(--yellow-100);

            color: var(--black);

            font-size: 0.75rem;

            span {
                margin-left: 0.5rem;
            }
        }

        .labelCanceled {
            display: flex;
            align-items: center;

            margin-right: 0.5rem;

            padding: 0.75rem 0.5rem;

            height: 1rem;

            border-radius: 2rem;

            background: var(--red-100);

            color: var(--red-700);

            font-size: 0.75rem;

            span {
                margin-left: 0.5rem;
            }
        }

        .labelTime {
            display: flex;
            align-items: center;

            margin: 0 0.25rem;

            width: auto;

            padding: 0.75rem 0.5rem;

            height: 1rem;

            border-radius: 2rem;

            background: var(--gray-100);

            font-size: 0.75rem;
            color: var(--gray-700);
            
            span {
                margin-left: 0.5rem;
            }
        }
    }

    .addressContainer {
        
        span {
            font-size: 0.75rem;
        }
    }

    .actionButtonsContainer {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .cancelBtn {
            justify-content: flex-end;

            padding: 0.5rem;
            
            color: var(--red-300);
            background: none;

            height: 2.5rem;
            border-radius: 5px;
        }

        .tryAgainBtn {
            justify-content: flex-end;

            padding: 0.5rem;
            
            color: var(--gray-500);

            height: 2.5rem;
            border-radius: 5px;

            margin-right: 1rem;
        }

        .progressBtns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: 2.5rem;
            
            .issueBtn {
                width: 100%;

                border-radius: 5px;

                color: var(--black);
                background: none;

                font-weight: 500;
            }

            .finalizeBtn {
                margin-left: 0.2rem;
                width: 150%;

                border-radius: 5px;

                font-weight: 500;
                color: var(--green-600);
                background: var(--green-100);
            }
        }
    }
}
.deliveryCardDesktopContainer {
    display: none;
}

@media (min-width: 1024px) {
    .deliveryCardMobileContainer {
        display: none;
    }

    .col1 {width: 8.33%;}
    .col2 {width: 16.66%;}
    .col3 {width: 25%;}
    .col4 {width: 33.33%;}
    .col5 {width: 41.66%;}
    .col6 {width: 50%;}
    .col7 {width: 58.33%;}
    .col8 {width: 66.66%;}
    .col9 {width: 75%;}
    .col10 {width: 83.33%;}
    .col11 {width: 91.66%;}
    .col12 {width: 100%;}

    .deliveryCardDesktopContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #fff;
        
        border-radius: 5px;
        
        margin-bottom: 0.25rem;

        &:hover {
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.05);
        }
        
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            padding: 1rem;

            color: var(--gray-500);

            // background-color: gray;

            .headerContainer {
                display: flex;
                flex-direction: column;
                min-width: 70px;

                span {
                    font-size: 0.75rem;
                }

                .idDelivery {
                    strong {
                        font-weight: 500;
                    }
                }


                .dateTime {
                    color: var(--gray-300);
                }
            }

            .addressContainer {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                margin-right: 0.5rem;
                min-width: 200px;
                p {
                    font-weight: 500;
                    font-size: 1rem;
                }

                span {
                    font-size: 0.875rem;
                }
            }

            .descriptionContainer {
                min-width: 100px;

                p {

                    margin-right: 1rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .statusContainer {
            display: flex;
            flex-direction: row;
            white-space: nowrap;
    
            p {
                font-weight: 500;
                font-size: 0.75rem;
            }
    
            span {
                font-size: 0.75rem;
            }

            .loading {
                animation: charge 1.25s infinite;
            }

            @keyframes charge {
                from{
                    transform: rotate(0deg);
                }to{
                    transform: rotate(360deg);
                }
            }
    
            .labelStatusSuccess {
                display: flex;
                align-items: center;
    
                margin-right: 0.5rem;
    
                padding: 0.75rem 0.5rem;
    
                height: 1rem;
    
                border-radius: 2rem;
    
                background: var(--green-100);
    
                color: var(--green-700);
    
                font-size: 0.75rem;
    
                span {
                    margin-left: 0.5rem;
                }
            }
    
            .labelStatusIssue {
                display: flex;
                align-items: center;
    
                margin-right: 0.5rem;
    
                padding: 0.75rem 0.5rem;
    
                height: 1rem;
    
                border-radius: 2rem;
    
                background: var(--yellow-100);
    
                color: var(--black);
    
                font-size: 0.75rem;
    
                span {
                    margin-left: 0.5rem;
                }
            }
    
            .labelCanceled {
                display: flex;
                align-items: center;
    
                margin-right: 0.5rem;
    
                padding: 0.75rem 0.5rem;
    
                height: 1rem;
    
                border-radius: 2rem;
    
                background: var(--red-100);
    
                color: var(--red-700);
    
                font-size: 0.75rem;
    
                span {
                    margin-left: 0.5rem;
                }
            }
    
            .labelTime {
                display: flex;
                align-items: center;
    
                margin: 0 0.25rem;

                width: auto;
    
                padding: 0.75rem 0.5rem;
    
                height: 1rem;
    
                border-radius: 2rem;
    
                background: var(--gray-100);
    
                font-size: 0.75rem;
                color: var(--gray-700);
                
                span {
                    margin-left: 0.5rem;
                }
            }
        }

        .actionButtonsContainer {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
    
            .cancelBtn {
                justify-content: flex-end;
    
                padding: 0.5rem;
                
                color: var(--red-300);
                background: none;
    
                height: 2.5rem;
                border-radius: 5px;

                margin-right: 1rem;
            }
    
            .tryAgainBtn {
                justify-content: flex-end;
    
                padding: 0.5rem;
                
                color: var(--gray-500);
    
                height: 2.5rem;
                border-radius: 5px;
    
                margin-right: 1rem;
            }
    
            .progressBtns {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                height: 2.5rem;
                
                .issueBtn {
                    width: 100%;
    
                    border-radius: 5px;
    
                    color: var(--black);
                    background: none;
    
                    font-weight: 500;
                }
    
                .finalizeBtn {
                    margin-left: 0.2rem;
                    width: 150%;
    
                    border-radius: 5px;
    
                    font-weight: 500;
                    color: var(--green-600);
                    background: var(--green-100);
                }
            }
        }
    }
}